<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{> header}}
        <title>{{ titulo }}</title>

    </head>

    <body class="hold-transition sidebar-mini">
        <div class="wrapper">

            {{>navbar}}

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                        </div>
                    </div><!-- /.container-fluid -->
                </section>

                <section class="content1">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card custom-card"
                                    style="max-width: 600px;">
                                    <div class="card-header">
                                        <h1 class="card-title">Perfil de Usuario</h1>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <div class="label-value-pair">
                                                <label>Nombre:</label>
                                                <p>Santiago</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="label-value-pair">
                                                <label>Apellido:</label>
                                                <p>Sosa</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="label-value-pair">
                                                <label>Correo electrónico:</label>
                                                <p>santiago@gmail.com</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="label-value-pair">
                                                <label>Contraseña:</label>
                                                <p>********</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="text-center">
                    <div class="d-flex justify-content-center"
                        style="width: 16%;">
                        <a class="btn btn-success" href="/">Volver</a>
                    </div>
                </div>

            </div>
            <!-- /.content-wrapper -->

            <!-- /.content -->
            {{> footer}}
            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
            </aside>
            <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->

        <!-- jQuery -->
        <script src="/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- DataTables & Plugins -->
        <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
        <script
            src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
        <script
            src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
        <script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
        <script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
        <script src="/plugins/jszip/jszip.min.js"></script>
        <script src="/plugins/pdfmake/pdfmake.min.js"></script>
        <script src="/plugins/pdfmake/vfs_fonts.js"></script>
        <script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
        <script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
        <script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
        <script src="https://kit.fontawesome.com/4de2284caa.js"
            crossorigin="anonymous"></script>
        <!-- AdminLTE App -->
        <script src="/js/adminlte.min.js"></script>

        <!-- Page specific script -->
    </body>

</html>
