<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{titulo}}</title>

        <!-- Google Font: Source Sans Pro -->
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
        <!-- Font Awesome -->
        <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" />
        <!-- DataTables -->
        <link rel="stylesheet"
            href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" />
        <link rel="stylesheet"
            href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" />
        <link rel="stylesheet"
            href="/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" />
        <!-- SweetAlert2 CSS -->
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">

        <!-- SweetAlert2 JS -->
        <script
            src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>

    </head>

    <body class="hold-transition sidebar-mini">
        <div class="wrapper">
            {{> navbar}}

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <!-- Encabezado omitido por brevedad -->
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-default">
                                    <div class="card-header">
                                        <h3 class="card-title">Registro de
                                            Abonos</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="numeroFactura">Numero
                                                        factura <span
                                                            style="color:red;">*</span></label>
                                                    <br>
                                                    <input type="numeroFactura"
                                                        value="1" id="numeroFactura" disabled>
                                                </div>
                                                
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="fechaAbono">Fecha
                                                        abono <span
                                                            style="color:red;">*</span></label>
                                                    <input type="date"
                                                        class="form-control"
                                                        id="fechaAbono"
                                                        placeholder="Digite la fecha del abono"
                                                        style="width: 100%;" />
                                                </div>
                                                <div class="texto1" id="texto1"></div>
                                            </div>
                                        </div>
                                        <!-- /.row -->
                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="valorAbono">Valor
                                                        abono <span
                                                            style="color:red;">*</span></label>
                                                    <input type="number"
                                                        class="form-control"
                                                        id="valorAbono"
                                                        placeholder="Digite el valor del abono"
                                                        style="width: 100%;" />
                                                </div>
                                                <div class="texto2" id="texto2"></div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="estado">Estado</label>
                                                    <select
                                                        class="form-control select2bs4"
                                                        id="estado"
                                                        style="width: 100%;">
                                                        <option
                                                            selected="selected">Elija
                                                            el estado</option>
                                                        <option>Activo</option>
                                                        <option>Inactivo</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <!-- /.form-group -->
                                        </div>
                                        <br>

                                        <div class="row"></div>
                                        <button id="btnRegistrarAbono"
                                            type="button"
                                            class="btn btn-success">Registrar</button>
                                        <a href="/abonos"><button
                                                type="button"
                                                class="btn btn-danger">Cancelar</button></a>
                                        <script
                                            src="../../js/funcionesAbonos.js"></script>
                                        <!-- /.card-body -->
                                    </div>

                                </div>

                            </div>

                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- /.container-fluid -->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            <footer class="main-footer">
                <div class="float-right d-none d-sm-block">
                    <b>Version</b>
                    1.0.0
                </div>
                <strong>Copyright &copy; 2023 CosmeTIC.</strong>
                All rights reserved.
            </footer>

            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
            </aside>
            <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->

        <!-- jQuery -->
        <script src="/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- DataTables  & Plugins -->
        <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
        <script
            src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
        <script
            src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
        <script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
        <script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
        <script src="/plugins/jszip/jszip.min.js"></script>
        <script src="/plugins/pdfmake/pdfmake.min.js"></script>
        <script src="/plugins/pdfmake/vfs_fonts.js"></script>
        <script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
        <script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
        <script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
        <script src="https://kit.fontawesome.com/4de2284caa.js"
            crossorigin="anonymous"></script>

        <!-- AdminLTE App -->
        <script src="/js/adminlte.min.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="/js/demo.js"></script>
        <!-- Page specific script -->
        <script>
  document.addEventListener("DOMContentLoaded", function() {
    obtenerNumerosFacturaVentas(); 
  });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var fechaAbonoInput = document.getElementById("fechaAbono");
        var fechaActual = new Date().toISOString().split("T")[0];
        fechaAbonoInput.value = fechaActual;
    });
</script>
    </body>

</html>